<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <!-- (click) => event binding -->
      <form name="form" (ngSubmit)="onSubmit()">
        <div class="field">
          <label>Length</label>
          <input class="input" [(ngModel)]="length" name="length" />
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input
                [(ngModel)]="includeLetters"
                type="checkbox"
                name="includeLetters"
              />
              Use Letters
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input
                [(ngModel)]="includeNumbers"
                type="checkbox"
                name="includeNumbers"
              />
              Use Numbers
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input
                [(ngModel)]="includeSymbols"
                type="checkbox"
                name="includeSymbols"
              />
              Use Symbols
            </label>
          </div>
        </div>

        <button
          [disabled]="isDisabled()"
          type="submit"
          class="button is-link is-fullwidth"
        >
          Generate!
        </button>

        <!-- Structural directive -->
        @if (password()) {
        <div class="box">
          <label>Your Password</label>
          <!-- [value] => property binding -->
          <input
            class="input"
            [(ngModel)]="password"
            (ngModelChange)="isDisabled()"
            name="password"
            readonly
          />
          <!-- attribute directive : readonly eg-->
        </div>
        }
      </form>

      <!-- interpolation syntax -->
      {{ password() }}
    </div>
  </div>
</div>
